@import "../../styles/variables.scss";

.container {
  background: url("../../../src/resources/img/topBg.png") 0 0 no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 128px;

  @media (max-width: map-get($container-max-width, lg)) {
    justify-content: center;
    height: 100vh;
    margin-bottom: 30px;
  }
}

.leftColumn h1 {
  font-size: 128px;
  color: $white;
  margin-left: 100px;

  @media (max-width: map-get($container-max-width, xxl)) {
    @include rubber-font(128, 30);
  }

  @media (max-width: map-get($container-max-width, lg)) {
    margin-left: 0;
  }
}

.rightColumn {
  margin-top: auto;

  @media (max-width: map-get($container-max-width, lgw)) {
    width: 100%;
  }
}

.rightColumnItemTop {
  display: flex;

  .rightColumnItem {
    width: 300px;
    height: 200px;
    @media (max-width: map-get($container-max-width, lgw)) {
      width: 100%;
    }
  }

  .rightColumnItem:nth-child(1) {
    background: url("../../resources/img/rightSmall.png") 0 0 no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .rightColumnItem:nth-child(2) {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: $white;
    font-size: 24px;
    letter-spacing: 0.2em;
    padding: 36px 50px;
    font-weight: 300;

    @media (max-width: map-get($container-max-width, lg)) {
      @include rubber-font(24, 15);
      padding: 36px 40px;
    }
  }
}

.rightColumnItemBottom {
  position: relative;
  width: 600px;
  height: 400px;

  @media (max-width: map-get($container-max-width, lgw)) {
    width: 100%;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: $orange;
    filter: saturate(1.8);
    opacity: 0.7;
  }

  &:after {
    backdrop-filter: blur(5px);
  }

  span {
    position: absolute;
    color: $white;
    z-index: 10;

    &:first-child {
      top: 40%;
      transform: rotate(270deg);
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2em;
      text-align: end;
      line-height: 24px;
    }

    &:nth-child(2) {
      left: 50%;
      top: 50%;
      transform: translate(-75%, -55%);
      letter-spacing: 0.2em;
      font-size: 256px;
      font-weight: 700;
      letter-spacing: -0.1em;

      @media (max-width: map-get($container-max-width, lgw)) {
        left: 70%;
        font-size: 161px;
      }
    }

    &:last-child {
      backdrop-filter: blur(5px);
      bottom: 18%;
      left: 42%;
      font-size: 32px;
      font-weight: 500;
      z-index: 10;

      @media (max-width: map-get($container-max-width, lgw)) {
        left: 67%;
        top: 60%;
        @include rubber-font(24, 20);
      }

      @media (max-width: map-get($container-max-width, xs)) {
        left: 50%;
      }
    }
  }

  @media (max-width: map-get($container-max-width, lg)) {
    width: 100%;
  }
}
